@font-face {
    font-family: 'Forza';
    src: url('Forza-Medium.woff2') format('woff2'),
        url('Forza-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Forza';
    src: url('Forza-Bold.woff2') format('woff2'),
        url('Forza-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

